/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}









}


/* Progressbar */


#progressbar {

	margin-bottom: 30px;
	overflow: hidden;
	/* CSS counters to number the steps */
	counter-reset: step;
	
}


#progressbar li {

	list-style-type: none;
	color: #000000;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	
}


#progressbar li:before {

	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #000000;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	
}


/* Progressbar Connectors */


#progressbar li:after {

	content: '';
	width: 100%;
	height: 2px;
	background: #000000;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /* put it behind the numbers */
	
}


#progressbar li:first-child:after {

	/* connector not needed before the first step */
	content: none; 
	
}


/* marking active/completed steps green */
/* The number of the step and the connector before it = green */
#progressbar li.active:before,  #progressbar li.active:after {

	background: #27AE60;
	color: #000000;
	
}


/* Required fields */


.error {

	color: #FF0000;	
	font-size: 12px;
	
}



